.div {
  text-align: center;
  font-family: "AvenirNext", sans-serif !important;
  background: rgb(245, 245, 245);
}

.div_right {
  float: right;
  width: 40%;
  margin-right: 200px;
  margin-top: 50px;
}

.div_left {
  width: 40%;
  margin-left: 100px;
  float: left;
}

.div_right text {
  font-size: 4rem;
  font-family: "CanelaDeck", serif !important;
}

.div_right .intro {
    font-style: oblique;
    opacity: 50%;
    margin-top: 10px;
    position: relative;
}

.div_left img {
    border-radius: 200px;
    box-shadow: 10px 10px 50px rgb(141, 140, 140);
    height: 300px;
    width: auto;
}

.svg {
  position: relative;
  bottom: -5px;
}

@keyframes opa {
  from {opacity:0; top:0px;}
  to {opacity: 100%; }
}

.div_right text {
  animation-name: opa;
  animation-duration: 3s;  
  animation-fill-mode:both;
}

.div_right .intro {
  animation-name: slidein;
  animation-duration: 3s;  
  animation-fill-mode: backwards;
}

.div_left {
  animation-name: opa;
  animation-duration: 4s;  
  animation-fill-mode: backwards;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 105%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.download {
  margin-left: 30%;
  width: 200px;
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  background: rgb(195, 195, 195);
  border-radius: 20px;
}

.download:hover {
  background: rgb(94, 94, 94);
  cursor: pointer;
}

.download img {
  margin-right: 10px;
}

.download a {
  text-decoration: none;
}
