.nav {
    display: flex;
    width: 100%;
    justify-content:flex-end;
    background: rgb(245, 245, 245);
}

.divNavbar {
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
}

.divNavbar button {
    font-size: 1.2rem;
    color: black;
    padding: 15px;
    border: none;
    background: none;
}

.divNavbar button:hover {
    background: #e5e5e5;
    border-radius: 20px;
    cursor: pointer;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
  }
  
  .top:hover {
    background-color: rgb(142, 142, 142);
  }
  