.project_wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 50px 5%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    float: right;
    width: 45%;
}

.left h3, .right h3 {
    font-weight: 100;
    padding: 30px;
    font-size: 2rem;
}

.left p, .right p {
    font-size: 1.2rem;
}

.titre {
    padding: 20px;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
}

.image_theForge {
    height: auto;
    max-height: 700px;
    width: auto;
}
