.div {
	background: rgb(245, 245, 245);
	height: auto;


	.div_doc {
		float: right;
		text-align: right;
		width: 100%;
		background: rgb(245, 245, 245);

	nav {
		align-items: center;
	}
	}
}

.div text {
	margin-right: 200px;
	font-size: 3rem;
}

.div_button {
	display: flex;
	margin-top: 50px;
	justify-content: center;


	.button {
		border: none;
		background: rgb(245, 245, 245);
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		text-decoration: none;
		cursor: pointer;

		display: inline-block;
		padding: 7px 30px;
		position: relative;


		&:after {
			background: none repeat scroll 0 0 transparent;
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			left: 50%;
			position: absolute;
			background: rgb(0, 0, 0);
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 0;
		}

		&:hover:after {
			width: 90%;
			left: 5%;
		}
	}

	.active {
		border: none;
		background: rgb(245, 245, 245);
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
		text-decoration: none;

		display: inline-block;
		padding: 7px 30px;
		position: relative;


		&:after {
			background: none repeat scroll 0 0 transparent;
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			left: 5%;
			position: absolute;
			background: rgb(0, 0, 0);
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 90%;
		}
	}
}

.div_ap {
	height: auto;
	text-align: center;
	margin-top: 50px;
	font-size: 1.2rem;
	font-family: 'Comfortaa', sans-serif;
}

.svg {
	position: relative;
	bottom: -5px;
}

.comp {
	width: 100%;
	max-width: 900px;
	margin: 3em auto;
	text-align: center;
	animation: opa 1.5s;
}

/*Modified all badge*/
@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin position {
	position: relative;
	margin: 1.5em 3em;
	width: 4em;
	height: 6.2em;
	border-radius: 10px;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
}

@mixin ribbon {
	position: absolute;
	border-radius: 4px;
	padding: 5px 5px 4px;
	width: 100px;
	z-index: 11;
	color: #fff;
	bottom: 12px;
	left: 50%;
	margin-left: -55px;
	height: 25px;
	font-size: 14px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

@mixin rotate {
	animation: rotation 1.3s;
}

/* All Web Badge with responsive */
.badge_yellow {
	@include position;
	background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
	color: #ffb300;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 65px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_black {
	@include position;
	background: linear-gradient(to bottom right, #0d0d0d 0%, #2c2c2b 100%);
	color: #626160;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 60px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_blue_light {
	@include position;
	background: linear-gradient(to bottom right, #34b3cc 0%, #196e85 100%);
	color: #0c5ac8;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 40px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_blue {
	@include position;
	background: linear-gradient(to bottom right, #0b2493 0%, #2359cd 100%);
	color: #264dba;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 35px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_pink {
	@include position;
	background: linear-gradient(to bottom right, #a53496 0%, #c758d1 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 55px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}


/* All Prog Badge with responsive */

.badge_purple {
	@include position;
	background: linear-gradient(to bottom right, #a402fb 0%, #330353 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 40px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_black {
	@include position;
	background: linear-gradient(to bottom right, #0d0d0d 0%, #2c2c2b 100%);
	color: #626160;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 60px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_blue_light {
	@include position;
	background: linear-gradient(to bottom right, #34b3cc 0%, #196e85 100%);
	color: #0c5ac8;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 40px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_pink {
	@include position;
	background: linear-gradient(to bottom right, #a53496 0%, #c758d1 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 55px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}


/* All Prog Badge with responsive */

.badge_purple {
	@include position;
	background: linear-gradient(to bottom right, #a402fb 0%, #330353 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 40px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_red {
	@include position;
	background: linear-gradient(to bottom right, #800909 0%, #ff0303 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		transform:scale(1.5)
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 35px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

.badge_blue_dark {
	@include position;
	background: linear-gradient(to bottom right, #6939cb 0%, #0c0586 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		@include rotate;
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 40px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

/* All other Badge with responsive */

.badge_orange {
	@include position;
	background: linear-gradient(to bottom right, #ff8400 0%, #ee420d 100%);
	color: #7f3c82;

	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}

	&:before {
		transform: rotate(60deg);
	}

	&:after {
		transform: rotate(-60deg);
	}

	&:hover {
		transform:scale(1.5)
	}

	.circle {
		justify-content: center;
		width: 80px;
		height: 80px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;

		img {
			margin-top: 5px;
			width: 35px;
		}
	}

	.ribbon {
		@include ribbon;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0) scale(1);
	}

	50% {
		transform: rotate(180deg) scale(1.2);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

@keyframes opa {
	from {opacity: 0;}
	to {opacity: 1;}
}