.div_footer, .div_contact{
    background: rgb(245, 245, 245);
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 50px;

}

.div_footer a img {
    width: 20px;
    height: auto;
    margin: 10px;
    background: white;
    border-radius: 50%;
}

.svg {
    position: relative;
    bottom: -5px;
  }

  .div_contact a {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: black;
    color: white;
  }