.div {
  background: white;
  text-align: center;
}

.div h1 {
  font-size: 3rem;
  padding-bottom: 50px;
}

.projet {
    width: auto;
}

.img_projet {
  width: 40%;
}

.div .border {
    border:ridge 5px;
    border-image: repeating-linear-gradient(30deg, #000000, #2f2f2f 20px) 60;
}

@media screen and (max-width: 600px) {
  .div .text {
    font-size: 2rem;
  }
}